.container {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #FF0000;
}

@media only screen and (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
    }
}
